<a href="https://colab.research.google.com/github/lukebene/Codigos-Treinos/blob/master/Untitled3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
from google.colab import drive

drive.mount('/content/gdrive')
root_path = 'gdrive/My Drive/'

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3aietf%3awg%3aoauth%3a2.0%3aoob&response_type=code&scope=email%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdocs.test%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive%20https%3a%2f%2fwww.googleapis.com%2fauth%2fdrive.photos.readonly%20https%3a%2f%2fwww.googleapis.com%2fauth%2fpeopleapi.readonly

Enter your authorization code:
··········
Mounted at /content/gdrive

In [0]:
import warnings
warnings.filterwarnings("ignore")


import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline
import matplotlib.cm as cm
from random import seed,sample
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.metrics import classification_report,confusion_matrix,accuracy_score, roc_curve, auc,\
precision_score
from sklearn.ensemble import RandomForestClassifier
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

sns.set(style="whitegrid")

In [0]:
dados = pd.read_csv('/content/gdrive/My Drive/df.csv')

dados.head()

   Passo      Tipo     Valor  ... SaldoDestinoNovo  Fraude  Detectado
0      1   PAYMENT   9839.64  ...              0.0       0          0
1      1   PAYMENT   1864.28  ...              0.0       0          0
2      1  TRANSFER    181.00  ...              0.0       1          0
3      1  CASH_OUT    181.00  ...              0.0       1          0
4      1   PAYMENT  11668.14  ...              0.0       0          0

[5 rows x 11 columns]

In [0]:
dados.shape

(6362620, 11)

In [0]:
dados.Detectado.value_counts()

0    6362604
1         16
Name: Detectado, dtype: int64

In [0]:
dados.Origem.str.contains('C').value_counts()

True    6362620
Name: Origem, dtype: int64

In [0]:
dados.Origem.str.contains('M').value_counts()

False    6362620
Name: Origem, dtype: int64

In [0]:
dados.Destino.str.contains('C').value_counts()

True     4211125
False    2151495
Name: Destino, dtype: int64

In [0]:
dados['Relacao'] = np.nan

#preenchendo a coluna Relacao com a informação, C para cliente e E para empresa.
dados.loc[dados.Origem.str.contains('C') & dados.Destino.str.contains('C'),"Relacao"] = "CC" 
dados.loc[dados.Origem.str.contains('C') & dados.Destino.str.contains('M'),"Relacao"] = "CE"

dados.head()

   Passo      Tipo     Valor       Origem  ...  Fraude  Detectado Tipo2  Relacao
0      1   PAYMENT   9839.64  C1231006815  ...       0          0    CE       CE
1      1   PAYMENT   1864.28  C1666544295  ...       0          0    CE       CE
2      1  TRANSFER    181.00  C1305486145  ...       1          0    CC       CC
3      1  CASH_OUT    181.00   C840083671  ...       1          0    CC       CC
4      1   PAYMENT  11668.14  C2048537720  ...       0          0    CE       CE

[5 rows x 13 columns]

In [0]:
dados= dados.drop(['Detectado','Tipo2'],1)
dados.head()

   Passo      Tipo     Valor  ... SaldoDestinoNovo  Fraude  Relacao
0      1   PAYMENT   9839.64  ...              0.0       0       CE
1      1   PAYMENT   1864.28  ...              0.0       0       CE
2      1  TRANSFER    181.00  ...              0.0       1       CC
3      1  CASH_OUT    181.00  ...              0.0       1       CC
4      1   PAYMENT  11668.14  ...              0.0       0       CE

[5 rows x 11 columns]

In [0]:
dados.Tipo.value_counts()

CASH_OUT    2237500
PAYMENT     2151495
CASH_IN     1399284
TRANSFER     532909
DEBIT         41432
Name: Tipo, dtype: int64

In [0]:
fraude = dados.query('Fraude==1')
valido = dados.query('Fraude==0')

fraude.shape

(8213, 11)

In [0]:
print('As transações bancarias que foram fraudadas foram: \n',fraude.Tipo.value_counts())

print('\nAs transações fraudulentas ocorreram em negociações: \n',fraude.Relacao.value_counts())

As transações bancarias que foram fraudadas foram:
 CASH_OUT    4116
TRANSFER    4097
Name: Tipo, dtype: int64

As transações fraudulentas ocorreram em negociações:
 CC    8213
Name: Relacao, dtype: int64